<div class="row">
  <div class="columns small-12">
    <% if !@prize.open %>
      <h1><%= @prize.find_winner %></h1>
      <h2>Actual price: <%= @prize.price %></h1>
    <% end %>

    <%= @prize.name %>
    <% if @prize.open %>
    <h1>Bid on this fabulous prize!</h1>
      <% if current_user && current_user.admin %>
        <%= simple_form_for [:admin, @prize] do |f| %>
          <%= f.input :price %>
          <%= f.button :submit %>
        <% end %>
      <% end %>

      <% if @bid.errors.any? %>
      <div id="error_explanation">
      <h2><%= "#{@bid.errors.count} error(s) prevented your bid from being saved" %></h2>
      <ul>
      <% @bid.errors.full_messages.each do |bid| %>
      <li><%= bid %></li>
      <% end %>
      </ul>
      </div>
      <% end %>

      <h3>Place your bid!</h3>
      <%= simple_form_for [@prize, @bid] do |f| %>
        <%= f.input :amount, as: :integer %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.button :submit, "Bid on this prize!" %>
      <% end %>
    <% end %>

    <h3>Other contestant bids</h3>
      <% @bids.each do |bid| %>
        <ul>
          <li><%= bid.user.username %></li>
          <li><%= bid.amount %></li>
        </ul>
      <% end %>
  </div>
</div>
